#file-input{
    display:none;
}


.profile-container {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    margin-top:50px;
}

#profile-picture{
    width: 150px;
    height:150px;
    border-radius:50%;
    cursor: pointer;
    object-fit:cover;
}